{% extends 'wrecks/base.html' %}
{% block content %}

<div class = container style = "max-width:45em">
<div>
    <br><h2> Add a site</h2>
<div class = 'form-group {%if field.errors%}alert alert-danger{%endif%}'>
<form enctype='multipart/form-data' method = 'post'>

    {%csrf_token%}
    {% load widget_tweaks %}
    {{ form.media }}
    
    {%for field in form%}
        {{field.errors}}
        {{field.label_tag}}
        {%render_field field class='form-control'%}
        
    {%endfor%}
    <br>
    <button type="submit" class = 'btn btn-primary'>Create</button>
    
</form>
</div>
</div>
</div>

{% endblock %}