{% extends 'wrecks/base.html' %}
{% block content %}
<div class = 'container'>
    <br>
    <h2>Add report for {{site.name}} {{site.sunk}}</h2>
<form enctype='multipart/form-data' method = 'post'>

    {%csrf_token%}
    {% load widget_tweaks %}
    {{ form.media }}
    
    {%for field in form%}
    <div class = 'form-group {%if field.errors%}alert alert-danger{%endif%}'>
        {{field.errors}}
        {{field.label_tag}}
        {%render_field field class='form-control'%}
        

    </div>
    {%endfor%}
    <p class="text-muted">Limit 1 attachment (ideally a document). Images can be added once a report is created.</p>
    <br>
    
    <input type="submit" value ="Add report" class = 'btn btn-primary'>

    
</form>
</div>
{% endblock %}