{% extends 'wrecks/base.html' %}
{% block content %}

<div class = container style = "max-width:45em">
</br>
    <h2>Are you sure you want to delete {{report.title}}?</h2>

    <a href = {% url 'detail_report' report.id %} class ='btn btn-secondary'> Back to report page </a>
<br></br></br>
<form method = 'post'>

    {%csrf_token%}
    <label for="textField">Type <b>{{report.title}}</b> before you can delete</label>
    <input type="text" class="form-control" placeholder="{{report.title}}" name="textField" /></br>
    <button type="submit" class = 'btn btn-danger'>Confirm Delete</button>
    
</form>
 </a>

</div>

<script>

$(document).ready(function() {
     $(':input[type="submit"]').prop('disabled', true);
     $('input[type="text"]').keyup(function() {
        if($(this).val() == '{{report.title}}') {
           $(':input[type="submit"]').prop('disabled', false);
        }
     });
 });

</script>

{% endblock %}