{% extends 'wrecks/base.html' %}
{% block content %}

<style>
    #map { height: 400px; }
</style>

<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
   <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
</head>

<div class = container style = "max-width:45em">
</br>
<h2>{{ site.name }} {{ site.built }} - {{ site.sunk }}</h2>

<div class="d-md-none">
  <table class="table">
    <tbody>
      <tr>
        <td>Description:</td>
        <td>{{ site.description }}</td>
      </tr>
        <tr>
        <td>Owner:</td>
        <td>{{ site.owner }}</td>
      </tr>
      <tr>
        <td>Construction:</td>
        <td>{{ site.construction }}</td>
      </tr>
        <tr>
        <td>Size:</td>
        <td>{{ site.size }}</td>
      </tr>
      <tr>
        <td>Built:</td>
        <td>{{ site.built }}</td>
      </tr>
        <tr>
        <td>Sunk:</td>
        <td>{{ site.sunk }}</td>
      </tr>
      <tr>
        <td>Underwater:</td>
        <td>{{ site.underwater }}</td>
      </tr>
        <tr>
        <td>Location:</td>
        <td>{{ site.location }}</td>
      </tr>
      <tr>
        <tr>
        <td>Sinking</td>
        <td>{{ site.sinking }}</td>
      </tr>
      <tr>
        <tr>
        <td>Latitude</td>
        <td>{{ site.latitude }}</td>
      </tr>
        <td>Longitude</td>
        <td>{{ site.longitude }}</td>
      </tr>
    </tbody>
  </table>

</div>
<div class="d-none d-md-block">

<table class="table">
    <tbody>
      <tr>
        <td>Description:</td>
        <td>{{ site.description }}</td>
        <td>Owner:</td>
        <td>{{ site.owner }}</td>
      </tr>
      <tr>
        <td>Construction:</td>
        <td>{{ site.construction }}</td>
        <td>Size:</td>
        <td>{{ site.size }}</td>
      </tr>
      <tr>
        <td>Built:</td>
        <td>{{ site.built }}</td>
        <td>Sunk:</td>
        <td>{{ site.sunk }}</td>
      </tr>
      <tr>
        <td>Underwater:</td>
        <td>{{ site.underwater }}</td>
        <td>Location:</td>
        <td>{{ site.location }}</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>Sinking</td>
        <td>{{ site.sinking }}</td>
      </tr>
      <tr>
        <td>Latitude</td>
        <td>{{ site.latitude }}</td>
        <td>Longitude</td>
        <td>{{ site.longitude }}</td>
      </tr>
    </tbody>
  </table>

</div>

  
<div class="float-right">
  <a class = 'text-muted' href="{% url 'update_site' site.id %}">Edit this entry</a>
</div><br>



<h3>Reports <a href="{% url 'create_report' site.id %}" class="btn btn-primary my-2">Add</a></h2>

  

<table class="table">
  <caption>Showing {{nReportsDisp}} of {{nReports}} reports.
    <a href="">Click to see all</a> </caption>
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
    </tr>
  </thead>
  <tbody>
    {% for report in Reports %}
    <tr>
      <th scope="row">{{report.date }}</th>
      <td>{{report.title }}</td>
      <td>{{report.user}}</td>
    </tr>
    {% endfor %}
    </tr>
  </tbody>
</table>

</br>

<div id="map"></div>

</br>

</div>


<script>
  var map = L.map('map').setView([{{ site.latitude }}, {{ site.longitude }}], 12);
  L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
  attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
  maxZoom: 14,
  tileSize: 512,
  zoomOffset: -1,}).addTo(map);
var marker = L.marker([{{ site.latitude }}, {{ site.longitude }}]).addTo(map);
marker.bindTooltip("<b>{{ site.name }} {{ site.built }} - {{ site.sunk }}");
</script>

{% endblock %}