{% extends 'wrecks/base.html' %}
{% block content %}

<div class = container style = "max-width:45em">
</br>
<h2>{{ site }}</h2>
<p class="lead">{{site.get_region_display}}</p>

{% if site.image %}

<div class="card mb-3">
  <img class="card-img-top" src="{{site.image.url}}" alt="{{site.image_caption}}">
  <div class="card-body">
    <p class="card-text"><small class="text-muted">{{site.image_caption}}</small></p>
  </div>
</div>
{% endif %}

<div class="d-md-none">
  <table class="table">
    <tbody>
      <tr>
        <td>Description:</td>
        <td>{{ site.description }}</td>
      </tr>
        <tr>
        <td>Owner:</td>
        <td>{{ site.owner }}</td>
      </tr>
      <tr>
        <td>Construction:</td>
        <td>{{ site.construction }}</td>
      </tr>
        <tr>
        <td>Size:</td>
        <td>{{ site.size }}</td>
      </tr>
      <tr>
        <td>Built:</td>
        <td>{{ site.built }}</td>
      </tr>
        <tr>
        <td>Sunk:</td>
        <td>{{ site.sunk }}</td>
      </tr>
      <tr>
        <td>Underwater:</td>
        <td>{{ site.underwater }}</td>
      </tr>
        <tr>
        <td>Location:</td>
        <td>{{ site.location }}</td>
      </tr>
      <tr>
        <tr>
        <td>Sinking</td>
        <td>{{ site.sinking }}</td>
      </tr>
      <tr>
        <tr>
        <td>Latitude</td>
        <td>{{ site.latitude }}</td>
      </tr>
        <td>Longitude</td>
        <td>{{ site.longitude }}</td>
      </tr>
    </tbody>
  </table>

</div>
<div class="d-none d-md-block">

<table class="table">
    <tbody>
      <tr>
        <td>Description:</td>
        <td>{{ site.description }}</td>
        <td>Owner:</td>
        <td>{{ site.owner }}</td>
      </tr>
      <tr>
        <td>Construction:</td>
        <td>{{ site.construction }}</td>
        <td>Size:</td>
        <td>{{ site.size }}</td>
      </tr>
      <tr>
        <td>Built:</td>
        <td>{{ site.built }}</td>
        <td>Sunk:</td>
        <td>{{ site.sunk }}</td>
      </tr>
      <tr>
        <td>Underwater:</td>
        <td>{{ site.underwater }}</td>
        <td>Location:</td>
        <td>{{ site.location }}</td>
      </tr>
      <tr>
        <td>Building</td>
        <td>{{ site.built_details }}</td>
        <td>Sinking</td>
        <td>{{ site.sinking }}</td>
      </tr>
      <tr>
        <td>Latitude</td>
        <td>{{ site.latitude }}</td>
        <td>Longitude</td>
        <td>{{ site.longitude }}</td>
      </tr>
    </tbody>
  </table>

</div>

<div class="d-flex justify-content-between align-items-center">
  <div>
{%if site.sketchfab_link%}<a href="{{site.sketchfab_link}}" class="btn btn-light btn-sm">🔗 Sketchfab</a>{%endif%}
{%if site.museum_link%}<a href="{{site.museum_link}}" class="btn btn-light btn-sm">🔗 WA Museum</a>{%endif%}
{%if site.dave_link%}<a href="{{site.dave_link}}" class="btn btn-light btn-sm">🔗 Diving WA's Wrecks</a>{%endif%}
</div>
<div>
{% if user.is_authenticated %}
 <a class = 'text-muted' href="{% url 'update_site' site.slug %}">Edit this entry</a>
{%endif%}
</div>
</div>
<br>
  <br>

{%if Publications %}
<h3>Publications</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Title</th>
    </tr>
  </thead>
  <tbody>
    {% for publication in Publications %}
    <tr>
      <th scope="row">{{publication.date }}</th>
      <td><a href="{% url 'detail_publication' publication.id %}" class="link-dark">{{publication.title }}</a></td>
    </tr>
    {% endfor %}
    </tr>
  </tbody>
</table>

{%endif%}

{% if user.is_authenticated %}
<h3>Reports <a href="{% url 'create_report' site.slug %}" class="btn btn-primary my-2">Add</a></h2>
{%endif%}

<table class="table">
  <caption>Showing {{nReportsDisp}} of {{nReports}} reports.
    <a href="{% url 'site_reports' site.slug %}" class="link-secondary">Click to see all</a> </caption>
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Title</th>
      <th scope="col">User</th>
    </tr>
  </thead>
  <tbody>
    {% for report in Reports %}
    <tr>
      <th scope="row">{{report.date }}</th>
      <td><a href="{% url 'detail_report' report.id %}" class="link-dark">{{report.title }}</a></td>
      <td>@{{report.user}}</td>
    </tr>
    {% endfor %}
    </tr>
  </tbody>
</table>

</br>
{% if site.latitude and site.longitude %}
<style>
  #map { height: 400px; }
</style>

<head>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
 integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
 crossorigin=""/>
 <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
 integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
 crossorigin=""></script>
</head>

<div id="map"></div>
</br>

</div>

<script>
  var map = L.map('map').setView([{{ site.latitude }}, {{ site.longitude }}], 10);
  L.tileLayer('https://{s}.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}{r}.png', {
	attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>',
	subdomains: 'abcd',
	maxZoom: 14
}).addTo(map);

var marker = L.marker([{{ site.latitude }}, {{ site.longitude }}]).addTo(map);
marker.bindTooltip("<b>{{ site.name }} {{ site.sunk }}",
  {permanent: true}).openTooltip();

var geojsonMarkerOptions = {
    radius: 4,
    fillColor: "#2D85CD",
    color: "#EDEAE5",
    weight: 1,
    opacity: .1,
    fillOpacity: 0.8
};

var wrecks = new L.geoJSON("", {
    pointToLayer: function (feature, latlng) {
        return L.circleMarker(latlng, geojsonMarkerOptions);
    }
}).bindTooltip(function (layer) {
  return layer.feature.properties.name + " " + layer.feature.properties.sunk});

wrecks.addTo(map);

$.ajax({
dataType: "json",
url: "{% url 'sites_json'%}",
success: function(data) {
    $(data.features).each(function(key, data) {
      wrecks.addData(data);
    });
}
}).error(function() {});

</script>
{% endif %}

{% endblock %}