{% extends 'wrecks/base.html' %}
{% block content %}

<div class = container style = "max-width:45em">
</br>
<h2>{{ report.title }} </h2>
<p class="lead"><a href = '{% url 'detail_site' report.site.id %}' class="link-dark"'>{{ report.site }}</a>,
     {{ report.date }}</p>
<div>
    {% for author in report.authors.all %}
    <button type="button" class="btn btn-outline-dark btn-sm">{{ author }}</button>
    {% endfor %}
</div>

  <br>

<p>{{ report.abstract }}</p>


{%if report.file%}
<h5>Attachment:</h5>
<p>{{ report.file.name }}</p>
<a href="{{ report.file.url }}" download  class="btn btn-dark float-right">Download</a>
<br>
{%endif%}
<p class = 'text-center'><a class = 'text-muted text-end' href="{% url 'update_report' report.id %}">Edit this report</a></p>

{% endblock %}
