{% extends 'wrecks/base.html' %}
{% block content %}

<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
   <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.js" charset="utf-8"></script>
  </head>

  <style>
    html { 
        height: 100%;
    }
    body { 
        height: calc(100% - 56px);
    }
    #map {
        height:100%;
    }     
.leaflet-popup-content-wrapper,.leaflet-popup-content
{
    font-size:14px;
    line-height:4px;
    border-radius: 4px;
}

  </style>
  <div id="map"></div>
  
  <script>
    var map = L.map('map',{tap: false,
      renderer: L.canvas({ tolerance: 12 })}).setView([-31, 115], 7);
    L.tileLayer('https://{s}.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}{r}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>',
      subdomains: 'abcd',
      maxZoom: 14
  }).addTo(map);
  
  
  var geojsonMarkerOptions = {
    radius: 10,
    fillColor: "#2D85CD",
    color: "#1B54A8",
    weight: 5,
    opacity: .8,
    fillOpacity: 0.6
};

var wrecks = new L.geoJSON("", {
    pointToLayer: function (feature, latlng) {
        return L.circle(latlng, geojsonMarkerOptions);
    }}).bindPopup(function (layer) {
  return "<b><a href ='" + layer.feature.properties.slug
  +"'style='color: black;''>" +
  layer.feature.properties.name +
   " " + layer.feature.properties.sunk +
  "</a></b>"},
  {closeButton: false});

wrecks.addTo(map);
L.control.locate({
  locateOptions: {
               maxZoom: 14,
               enableHighAccuracy: true
}
}).addTo(map);
  
  $.ajax({
  dataType: "json",
  url: "{% url 'sites_json'%}",
  success: function(data) {
      $(data.features).each(function(key, data) {
        wrecks.addData(data);
      });
  }
  }).error(function() {});
  
  </script>

{% endblock %}