{% extends 'wrecks/base.html' %}
{% block content %}
<br>
<div class = container style = "max-width:45em">
<div>
    <h2>Edit report details</h2>

    <div class = 'form-group {%if field.errors%}alert alert-danger{%endif%}'>
        <form enctype='multipart/form-data' method = 'post'>
        
            {%csrf_token%}
            {% load widget_tweaks %}
            {{ form.media }}
            
            {%for field in form%}
                {{field.errors}}
                {{field.label_tag}}
                {%if field.name == 'site'%}
                {%render_field field%}<br>
                {%else%}
                {%render_field field class='form-control'%}
                {%endif%}
                
            {%endfor%}
            <p class="text-muted">Limit 1 attachment (ideally a document). Images can be added on the report details page.</p>
            <br>
            <button type="submit" class = 'btn btn-primary'>Save</button>
</form>
<br>
<a href = {% url 'delete_report' report.id %} class ='btn btn-danger'>Delete this report</a>
<br>
</div>
</div>

{% endblock %}